* {
  box-sizing: border-box;
}

:root {
  --obaRed:red;
  --obaOrange: #EDA742;
  --obaOrangeD: #BA8238;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}

.button {
  padding: 1em 2em;
  background-color: var(--obaRed);
  color: #fff;
  border: none;
  margin-top: 1em;
  font-size: 0.875em;
  cursor: pointer;

  &__action {
    background-color: #fff;
    color: #222;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    border: 1px solid #000;
  }

  &__orange {
    background-color: var(--obaOrange);
    padding: 10px 30px;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
    border-bottom: 4px solid var(--obaOrangeD);
    text-transform: capitalize;
  }

  &__next {
    background-color: #000;
  }
}

.title-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--obaRed);
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  &__middle {
    text-align: center;
  }

  .logo {
    display: block;
    width: 300px;
  }

  .button {
    margin-top: -2em;
  }
}

.result-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    margin-bottom: 2em;
  }

  &__image {
    width: 200px;
    border-radius: 100%;
  }

  &__center {
    max-width: 450px;
    width: 100%;
  }

  &__half {
    width: 50%;
    height: 100%;
    padding: 2em;
    text-align: center;

    &:nth-of-type(1) {
      background-color: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:nth-of-type(2) {
      background-image: url(../img/bookpattern.jpg);
      background-size: 200px;
    }

    &:nth-of-type(3) {
      background-color:green;
    }
  }
}

.wheel-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: 200px;
    border-radius: 100%;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  &__text {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  &__half {
    width: 50%;
    height: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-of-type(1){
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000;
      color: #fff;
    }
    &:nth-of-type(2){
      background-image: url(../img/bookpattern.jpg);
      background-size: 200px;
    }
  }
}

.small-image {
  width: 90%;
  height: 147px;
}

.list-container {
  overflow: hidden;

  &__list-block {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 2em;
    background-color: #fff;
    border: 1px solid #222;

    &__item {
      text-align: center;
    }
  }
}

.show {
  display: flex;
}

.noshow {
  display: none;
}

.counter {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 1em 3em;
  background-color: var(--obaRed);
  color: #fff;
  border-radius: 30px;
  position: relative;

}

.question-tag {
  position: relative;
  width: 400px;

  &::before {
    content: '';
    position: absolute;
    left: -30px;
    top: -10px;
    width: 20px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/lightbulb.svg);
  }
}

.answer-list {
  list-style-type: none;
  padding-left: 0;
  width: 400px;
  text-align: center;

  &__item {
    // color: #fff;
    // background-color: var(--obaOrange);
    // border-bottom: 4px solid var(--obaOrangeD);
    background-color: #fff;
    color: #222;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
    text-transform: capitalize;
    border: 1px solid #000;
    position: relative;


    &:hover {
      transform: scale(1.03);
    }

    // &::after {
    //   content: '';
    //   width: 100%;
    //   height: 20px;
    //   bottom: -15px;
    //   left: 0;
    //   background-color: #b7b7b7;
    //   border: 1px solid #999;
    //   border-radius: 10px;
    //
    //   position: absolute;
    //   z-index: -1;
    // }
  }
}

.quiz-div {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em 2em;
    color: #fff;

    &:nth-of-type(2) {
      background-color: #000;
      // background-image: url(../img/bookpattern.jpg);
      // background-size: 80px;
      width: 40%;
    }

    &:nth-of-type(3) {
      background-color: #fff;
      background-image: url(../img/bookpattern.jpg);
      background-size: 200px;
      color: #000;
      width: 60%;
    }
  }

  .final-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bookpattern.jpg);
    background-size: 200px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__noshow {
      display: none;
    }

    &__image {
      margin-top: -3em;
    }

    &__middle {
      background-color: fff;
      border: 1px solid #000;
      padding: 2em;

      h2, h4 {
        margin: 0;
      }
    }
}

.no-loader {
  display: none;
}

.loader-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
  z-index: 100;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;

  &__noloader{
    display: none;
  }

  &__loader {
    width: 100px;
  }

  &__patience {
    background-color: red;
    display: inline-block;
    padding: .5em 2em;
    color: #fff;
  }
}

.question {
  &__image {
    margin-bottom: 1em;
    width: 100%;

    img {
      width: 200px;
      border-radius: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &__tag {
    background-color: var(--obaRed);
    padding: .4em 1em;
    display: inline-block;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;

  }
}

.celebration-container  {
  position: absolute;
  width: 100%;
  height: 70%;
  left: 0;
  top: 0;
}

  &__image {
    margin-top: -3em;
  }
}

#square {
  width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.spinner {
  text-align: center;
}

#box {
  width:300px;
  height:200px;
  margin:5em auto 0 auto;
  background:#FFF;
  overflow:hidden;
  border:8px solid #000;
  background:linear-gradient(to bottom, #FFF 80%, #EEE 50%);
}

#roulette {
  width:400px;
  height:200px;
  display:inline-flex;
}

#roulette div {
  min-width:200px;
  height:200px;
  display:inline-flex;
  flex-direction:column;
  align-items:center;
  border-right:2px solid #888;
  padding:40px 10px;
}

#roulette div i {
  font-size:72px;
}

#arrow {
  width:0;
  height:0;
  border-left:25px solid transparent;
  border-right:25px solid transparent;
  border-bottom:30px solid #000;
  position:relative;
  top:-25px;
}

#txt {
  margin-top:1em;
  font-family:Montserrat;
  color:#FFF;
}

#boek1{
  opacity: 0;
  animation: loader 1.6s infinite;
}
#boek2{
  opacity: 0;
  animation: loader 1.6s infinite;
  animation-delay: .4s;
}
#boek3{
  opacity: 0;
  animation: loader 1.6s infinite ;
  animation-delay: .6s;
}

.fa {
  width: 80px;
}

@keyframes loader {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50%, 80% {
    opacity: 1;
    transform: translateY(0);
}
  81%, 100% {
    opacity: 0;
  }
}

@keyframes brillo {
  0% { border-bottom-color:steelblue; }
  25%, 75% { border-bottom-color:green; }
  100% { border-bottom-color:steelblue; }
}

.cls-2{fill:#bcc2c6}.cls-3{fill:#ebeff0}.cls-4{fill:#e9eeef}

$yellow: #ffd300;
$blue: #17d3ff;
$pink: #ff4e91;

$duration: 1000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: $yellow;
  top: 0;
  opacity: 0;

  @for $i from 1 through 13 {
    &:nth-child(#{$i}) {
      left: $i * 7%;
      transform: rotate(#{randomNum(-80, 80)}deg);
      animation: makeItRain $duration * 1ms infinite ease-out;
      animation-delay: #{randomNum(0, $duration * .5)}ms;
      animation-duration: #{randomNum($duration * .7, $duration * 1.2)}ms
    }
  }

  &:nth-child(odd) {
    background: $blue;
  }

  &:nth-child(even) {
    z-index: 1;
  }

  &:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: $duration * 2ms;
  }

  &:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: $duration * 2.5ms;
    animation-delay: $duration * 1ms;
  }

  &:nth-child(4n-7) {
    background: $pink;
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(200px);
  }
}
