* {
  box-sizing: border-box;
}

:root {
  --obaRed:red;
  --obaOrange: #EDA742;
  --obaOrangeD: #BA8238;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-size: 0.875em;
  /* 14px/16=0.875em */
}

.button {
  padding: 1em 2em;
  color: #fff;
  border: none;
  margin-top: 1em;
  font-size: 0.875em;
  cursor: pointer;
}
.button__action {
  color: #222;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}
.button__action::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: -1px;
  background-color: #000;
  z-index: -1;
  border-radius: 10px;
  transition: .4s;
}
.button__action:hover {
  color: #fff;
}
.button__action:hover::before {
  width: calc(100% + 2px);
}
.button__orange {
  background-color: var(--obaOrange);
  padding: 10px 30px;
  cursor: pointer;
  transition: .2s;
  border-radius: 10px;
  border-bottom: 4px solid var(--obaOrangeD);
  text-transform: capitalize;
}
.button__next {
  background-color: #000;
}
.button__red {
  color: #222;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  background-color: fff;
  position: relative;
  overflow: hidden;
}

.title-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--obaRed);
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.title-screen__middle {
  text-align: center;
}
.title-screen .logo {
  display: block;
  width: 300px;
}
.title-screen .button {
  margin-top: -2em;
}

.result-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-screen .logo {
  margin-bottom: 2em;
}
.result-screen__image {
  width: 200px;
  border-radius: 100%;
}
.result-screen__center {
  max-width: 450px;
  width: 100%;
}
.result-screen__half {
  width: 50%;
  height: 100%;
  padding: 2em;
  text-align: center;
}
.result-screen__half:nth-of-type(1) {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-screen__half:nth-of-type(2) {
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
}
.result-screen__half:nth-of-type(3) {
  background-color: green;
}

.wheel-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wheel-screen__image {
  width: 200px;
  border-radius: 100%;
  margin-bottom: 2em;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}
.wheel-screen__text {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.wheel-screen__half {
  width: 50%;
  height: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wheel-screen__half:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}
.wheel-screen__half:nth-of-type(2) {
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
}

.small-image {
  width: 90%;
  height: 147px;
}

.list-container {
  overflow: hidden;
}
.list-container__list-block {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #222;
}
.list-container__list-block__item {
  text-align: center;
  transition: .4s;
  height: 200px;
}
.list-container__list-block__item:hover {
  transform: scale(1.1);
}

.list__text {
  position: relative;
  display: inline-block;
}
.list__text::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: -25px;
  top: -5px;
  background-image: url("../img/book.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.show {
  display: flex;
}

.noshow {
  display: none;
}

.counter {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 1em 3em;
  background-color: var(--obaRed);
  color: #fff;
  border-radius: 30px;
  position: relative;
  opacity: 1;
  transition: .4s;
  animation: jump 1s infinite;
}
.counter__noshow {
  opacity: 0;
}

.question-tag {
  position: relative;
  width: 400px;
}
.question-tag::before {
  content: '';
  position: absolute;
  left: -30px;
  top: -10px;
  width: 20px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/lightbulb.svg);
}

.answer-list {
  list-style-type: none;
  padding-left: 0;
  width: 400px;
  text-align: center;
}
.answer-list__item {
  background-color: #fff;
  color: #222;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .2s;
  border-radius: 10px;
  text-transform: capitalize;
  border: 1px solid #000;
  position: relative;
}
.answer-list__item:hover {
  transform: scale(1.03);
}

.quiz-div {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.quiz-div__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6em 2em;
  color: #fff;
}
.quiz-div__container:nth-of-type(2) {
  background-color: #000;
  width: 40%;
}
.quiz-div__container:nth-of-type(3) {
  background-color: #fff;
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
  color: #000;
  width: 60%;
}
.quiz-div .final-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.quiz-div .final-screen__noshow {
  display: none;
}
.quiz-div .final-screen__image {
  margin-top: -3em;
  transition: .4s;
}
.quiz-div .final-screen__image:hover {
  transform: translateY(-20px) scale(1.04);
}
.quiz-div .final-screen__middle {
  background-color: fff;
  border: 1px solid #000;
  padding: 2em;
}
.quiz-div .final-screen__middle h2, .quiz-div .final-screen__middle h4 {
  margin: 0;
}
.quiz-div .final-screen__middle h2 {
  margin-bottom: 1em;
}
.quiz-div .no-loader {
  display: none;
}
.quiz-div .loader-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bookpattern.jpg);
  background-size: 200px;
  z-index: 100;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}
.quiz-div .loader-container__noloader {
  display: none;
}
.quiz-div .loader-container__loader {
  width: 100px;
}
.quiz-div .loader-container__patience {
  background-color: red;
  display: inline-block;
  padding: .5em 2em;
  color: #fff;
}
.quiz-div .question__image {
  margin-bottom: 1em;
  width: 100%;
  transition: .9s;
}
.quiz-div .question__image:hover {
  transform: rotate(360deg);
}
.quiz-div .question__image img {
  width: 200px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
.quiz-div .question__tag {
  background-color: var(--obaRed);
  padding: .4em 1em;
  display: inline-block;
}
.quiz-div .question__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}
.quiz-div .celebration-container {
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  top: 0;
}
.quiz-div__image {
  margin-top: -3em;
}

#square {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  text-align: center;
}

#box {
  width: 300px;
  height: 200px;
  margin: 5em auto 0 auto;
  background: #FFF;
  overflow: hidden;
  border: 8px solid #000;
  background: linear-gradient(to bottom, #FFF 80%, #EEE 50%);
}

#roulette {
  width: 400px;
  height: 200px;
  display: inline-flex;
}

#roulette div {
  min-width: 200px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #888;
  padding: 40px 10px;
}

#roulette div i {
  font-size: 72px;
}

#arrow {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #000;
  position: relative;
  top: -25px;
}

#txt {
  margin-top: 1em;
  font-family: Montserrat;
  color: #FFF;
}

#boek1 {
  opacity: 0;
  animation: loader 1.6s infinite;
}

#boek2 {
  opacity: 0;
  animation: loader 1.6s infinite;
  animation-delay: .4s;
}

#boek3 {
  opacity: 0;
  animation: loader 1.6s infinite;
  animation-delay: .6s;
}

.fa {
  width: 80px;
}

@keyframes loader {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  81%, 100% {
    opacity: 0;
  }
}
@keyframes brillo {
  0% {
    border-bottom-color: steelblue;
  }
  25%, 75% {
    border-bottom-color: green;
  }
  100% {
    border-bottom-color: steelblue;
  }
}
.cls-2 {
  fill: #bcc2c6;
}

.cls-3 {
  fill: #ebeff0;
}

.cls-4 {
  fill: #e9eeef;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-38deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 96ms;
  animation-duration: 789ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(-43deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 94ms;
  animation-duration: 1012ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(75deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 288ms;
  animation-duration: 1061ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(54deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 483ms;
  animation-duration: 848ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(7deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 330ms;
  animation-duration: 745ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(-2deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 154ms;
  animation-duration: 995ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(17deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 499ms;
  animation-duration: 818ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(16deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 404ms;
  animation-duration: 744ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-73deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 302ms;
  animation-duration: 1103ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(65deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 70ms;
  animation-duration: 896ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(-8deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 101ms;
  animation-duration: 754ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(8deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 51ms;
  animation-duration: 1142ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(49deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 112ms;
  animation-duration: 750ms;
}
.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@keyframes jump {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(200px);
  }
}

/*# sourceMappingURL=style.css.map */
